body{
    color:#40514E;
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    color:#66BFBF;
    font-size: 5.625rem; 
    line-height: 2;
    margin:50px auto 0 auto;
    font-family:'Sacramento', cursive;
}
h2{
    color:#66BFBF;
    font-family:"Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color:#11999E;
    font-family:"Montserrat", sans-serif; 
}
h4{
    color:#11999E;
    font-family:"Montserrat", sans-serif; 
}
p, li{
    color:#11999E;
    font-size: 1.5rem;
    line-height: 2;
    
}
hr{
    border:dotted #a0a5a4 6px;
    border-bottom: none;
    width:5%;
    
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin:10px  20px;
    text-decoration: none;
}
a:hover{
    color:#EAF6F6;
    text-decoration: none;
}
table{
    margin-left: auto;
    margin-right: auto;
   
}
th{
    text-align:center;
}
tr,  td{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin:10px  20px;
    text-decoration: none;
}
footer{
    background-color:#E4F9F5;
    padding-top: 30px;
    height: 130px;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top:100px;
}
.top-cloud{
    position:absolute;
    right:300px;
    top:50px;
}
.bottom-cloud{
    position: absolute;
    left:300px;
    bottom:300px;
}
.middle-container{
    padding:70px 0;
    background-color: #f5f0ea; 
    text-align: center;
    justify-content: center;
}
.profile-img{
    border-radius: 50%;
    height: auto;
}
.intro{
    margin-left: auto;
    margin-right: auto;
    width:40%;
}
.container-degree{
    margin-left: auto;
    margin-right: auto;
    width:100%;
    padding-top:50px;
    padding-bottom:100px;
    text-align: center;
    background-color: #E4F9F5;
    position: relative;
}
.degree{
    width:75%;
    float:right;
    list-style: none
}
.degree-img{
    width:25%;
    border-radius: 50%; 
    max-width: 300px;  
}
.container-skill{
    background-color:  #f5f0ea; 
    margin:50px;
    padding:20px;
    width:90%;
    position: relative;
    justify-content: center;
}
.skill{
    width:60%;
    list-style: none
}
.code-img{
    padding-top: -30px;
    width:40%;
    border-radius: 50%;   
    float:right;
    max-width: 300px;
}
.experience{  
    margin-left:8%;
}


.skill-row{
    width: 50%;
    margin: 100 px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.contacte-msg{
    width: 40%;
    margin: 40px auto 60px;
}
.copyright{
    font-size:0.75rem;
   
}


.glyphicon{
    color:yellow;
    size:7px;
}


